language: java
jdk:
  - oraclejdk8

notifications:
  email: false

script: mvn package

deploy:
  provider: releases
  api_key: 
    secure: e394ec443474b8e2fcf1b761a4a10451146b92f8
  file: target
  skip_cleanup: true
  on:
    tags: true