language: java
jdk:
- oraclejdk8
sudo: true
notifications:
  email: false
before_install:
- chmod +x ./mvnw
script:
- "./mvnw test -B"
deploy:
  provider: cloudfoundry
  api: https://api.run.pivotal.io
  username: 1015320177@qq.com
  password:
  organization: Liulinzhe17
  space: development
  on:
    repo: Liulinzhe17/coursecalendar01
